{{- if .Values.certManager.enabled }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  {{- if eq .Values.certManager.issuer.type "selfSigned" }}
  name: {{ .Release.Name | default "pccs" }}-selfsigned-issuer
  {{- else }}
  name: {{ .Release.Name | default "pccs" }}-issuer
  {{- end }}
spec:
  {{- if eq .Values.certManager.issuer.type "acme" }}
  acme:
    server: {{ .Values.certManager.issuer.server }}
    email: {{ .Values.certManager.issuer.email }}
    privateKeySecretRef:
      name: {{ .Release.Name | default "pccs" }}-issuer-account-key
    solvers:
      - http01:
          ingress:
            ingressClassName: {{ .Values.ingress.className | default "nginx" }}
  {{- else if eq .Values.certManager.issuer.type "selfSigned" }}
  selfSigned: {}
  {{- end }}
---
{{- if and .Values.certManager.enabled (eq .Values.certManager.issuer.type "selfSigned") }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ .Release.Name | default "pccs" }}-ca
spec:
  ca:
    secretName: {{ .Release.Name | default "pccs" }}-ca
{{- end }}
{{- end }}
